@import '/src/App';

nav {
  display: flex;
  align-items: center;
  background-color: $ultra-dark-grey;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    li {
      color: $white;
      text-decoration: none;
      padding: $S 0;
      text-align: center;
      -webkit-flex: 1 auto;
      flex: 1 auto;
      cursor: pointer;

      &.active {
        background-color: red;
      }

      &:hover {
        background-color: $medium-grey;
      }
    }
  }
}

.articles-list {
  h1 {
    padding: $S;
  }

  &-container {
    background-color: $bg-color;
    min-height: calc(100vh - $XL*3 - $M - em(52));
    padding: $M;
    margin: 0 auto;
    padding-bottom: $XL + $L;
    @include Center-Align;
    flex-wrap: wrap;
    gap: $XS;
    text-align: center;
    max-width: 1200px;
  }

  &-loading {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $width_xs) {
  .articles-list-container {
    padding-bottom: $XL;
  }
}