@import '/src/App';

.articles-list {
  h1 {
    padding: $XXS;
  }

  &-container {
    background-color: $bg-color;
    min-height: calc(100vh - $XL*3 - $M - em(52));
    padding: $M;
    margin: 0 auto;
    padding-bottom: $XL + $L;
    @include Center-Align;
    flex-wrap: wrap;
    gap: $XS;
    text-align: center;
    max-width: 1200px;

    &-loading {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: $width_xs) {
  .articles-list {
    h1 {
      padding: $S;
    }

    &-container {
      padding-bottom: $XL;
    }
  }
}
