@import '/src/core-sass/colors';
@import '/src/core-sass/fonts';
@import '/src/core-sass/sizes';
@import '/src/core-sass/layout';
@import '/src/core-sass/responsive';

body {
  font-size: 16px;
}

input, select, button { box-sizing: border-box; } 
*, *::before, *::after { box-sizing: inherit; }