// basic colors
$bg-color: #E5E5E5;
$white: #ffffff;

// placeholder colors
$light-grey: #E7E7E7;
$dark-grey: #444444;

// font & border colors
$ultra-light-grey: #F7F7F7;
$medium-grey: #999999;
$ultra-dark-grey: #333333;

// shadow
$shadow-color: rgba(0, 0, 0, 0.05);
$darker-shadow: rgba(0, 0, 0, 0.4);
$hover-color: #00000026;

// status colors
$disabled: #B2B2B2;
$link: #2C64B7;
$active: #fc0262;