// PIXEL
$XXXSpx: 3;
$XXSpx: 5;
$XSpx: 8;
$Spx: 16;
$Mpx: 32;
$Lpx: 40;
$XLpx: 64;
$XXLpx: 140;
$inner-cardpx: 186;
$outer-cardpx: 218;
$card-heightpx: 450;

// EM
$XXXS: calc($XXXSpx / 16) * 1em;
$XXS: calc($XXSpx / 16) * 1em;
$XS: calc($XSpx / 16) * 1em;
$S: calc($Spx / 16) * 1em;
$M: calc($Mpx / 16) * 1em;
$L: calc($Lpx / 16) * 1em;
$XL: calc($XLpx / 16) * 1em;
$XXL: calc($XXLpx / 16) * 1em;
$inner-card: calc($inner-cardpx / 16) * 1em;
$outer-card: calc($outer-cardpx / 16) * 1em;
$card-height: calc($card-heightpx / 16) * 1em;
